.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.ReleaseBox {
  border: 2px solid black;
  padding: 1em;
}

.button {
  background-color: darkblue;
  color: ghostwhite;
  padding: 1em;
  border-radius: 1em;
  font-style: oblique;
  font-weight: bold;
}

.button:hover{
  cursor: pointer;
}

li {
  padding-top: 1em;
  padding-bottom: 1em;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
